<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link th:replace="templates::bootstrap">
    <title>Storage</title>
    <style>
        .table-inactive {
            background-color: #ececec !important;
            color: #b9b9b9 !important;
        }
    </style>
</head>
<body>
<span>
    <span><div class="container w-25">
    <form th:action="@{/storage/add}" method="post"
          th:object="${product}">
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Name</label>
            <input th:field="*{name}" type="text" class="form-control"
                   aria-describedby="emailHelp"
                   id="exampleInputEmail1">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Count
            </label>
            <input th:field="*{count}" type="number" class="form-control"
                   id="exampleInputPassword1">
        </div>
        <div class="mb-3">
            <label for="release_date" class="form-label">Price</label>
            <input th:field="*{price}" type="number" step="any"
                   class="form-control"
                   id="release_date">
        </div>
        <div class="mb-3 form-check">
            <input th:field="*{isDelivery}" type="radio"
                   class="form-check-input"
                   id="not_viewed"
                   value="false" th:checked="${flag}" checked/>
            <label class="form-check-label" for="not_viewed">Not
                delivered</label>
            <br>
            <input th:field="*{isDelivery}" type="radio"
                   class="form-check-input"
                   id="viewed"
                   value="true">
            <label class="form-check-label" for="viewed">Delivered</label>
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
</div></span>
    <span><div class="container w-25">
    <h1>Search</h1>
    <form th:action="@{/storage/search}" th:object="${searchDto}" method="post">
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Name</label>
            <input th:field="*{name}" type="text"
                   class="form-control"
                   aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Count min
            </label>
            <input th:field="*{minCount}" name="minCount" type="number"
                   class="form-control">
            <label for="exampleInputPassword1" class="form-label">Count max
            </label>
            <input th:field="*{maxCount}" name="maxCount" type="number"
                   class="form-control">
        </div>
        <div class="mb-3">
            <label for="release_date" class="form-label">Price min</label>
            <input th:field="*{minPrice}" type="number" step="any"
                   class="form-control">
            <label for="release_date" class="form-label">Price max</label>
            <input th:field="*{maxPrice}" type="number" step="any"
                   class="form-control">
        </div>
        <div class="mb-3 form-check">
            <input th:field="*{isDelivery}" type="radio"
                   class="form-check-input"
                   value="false" id="not_delivered_search">
            <label class="form-check-label" for="not_delivered_search">Not
                delivered</label>
            <br>
            <input th:field="*{isDelivery}" type="radio"
                   class="form-check-input"
                   value="true" id="delivered_search">
            <label class="form-check-label" for="delivered_search">Delivered
            </label>
        </div>
        <button type="submit" class="btn btn-primary">Search</button>


    </form>

</div></span>
</span>

<div class="container justify-content-center w-75">
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Count</th>
            <th scope="col">Price</th>
            <th scope="col">Is delivery</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>

        <tr th:each="product,iStat : ${products}"
            th:classappend="${product.isRemoved==true? 'table-inactive':''}">
            <th scope="row" th:text="${iStat.index+1}"></th>
            <td th:text="${product.name}"></td>
            <td th:text="${product.count}"></td>
            <td th:text="${product.price}"></td>
            <td th:text="${product.isDelivery}"></td>
            <td>

            </td>
            <td th:if="${product.isRemoved==true}">
                <a class="btn btn-primary"
                   th:href="@{storage/return/{id}(id=${product.id})}">return
                </a>
            </td>
            <td th:if="${product.isRemoved!=true}">
                <a class="btn btn-primary"
                   th:href="@{storage/edit/{id}(id=${product.id})}"
                >edit
                </a>
                <a class="btn btn-primary"
                   th:href="@{storage/remove/{id}(id=${product.id})}">delete
                </a>
            </td>


        </tr>

        </tbody>
    </table>
</div>


<script th:replace="templates::bootstrap_js"></script>
</body>
</html>